<a href="https://colab.research.google.com/github/marzier/CSC481/blob/main/ramirez_nicholas_HW1_no.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# basic arithmetic ops

a=10
b=5
sum = a+b
diff = a-b
product = a*b
division = a/b

print("sum: ", sum)
print("diff: ", diff)
print("product: ", product)
print("product: ", division)

sum:  15
diff:  5
product:  50
product:  2.0

In [ ]:
print(f"The sum of the two numbers {a}, {b} is {sum}")

The sum of the two numbers 10, 5 is 15

In [ ]:
x = a//b
print(x)

y = 13%2
print(y)

2
1

In [ ]:
#booleans
x = 10
y= 5

is_greater = x > y
is_equal = x==y
is_not_equal = x != y

print("is x greater than y?", is_greater)
print("is x equal y?", is_equal)
print("is x not equal y?", is_not_equal)

In [ ]:
#variable assignment

name = "nick"
age = 38
is_professor = False

print(f"{name}'s {age}. He is a Professor is {is_professor}")

nick's 38. He is a Professor is False

In [ ]:
#defining and using a function

def greet(name):
  return "hello, " + name + "!"

my_name = input("enter your name: ")
greet('Nick')
greet(my_name)

enter your name: niick

'hello, niick!'

In [ ]:

def add_numbers(a,b):
  return a+b

a=int(input("enter first number: "))
b=int(input("enter second number: "))

addition_value = add_numbers(a,b)
print(f"the result of addition for {a}, {b} is {addition_value}")

enter first number: 1
enter second number: 2
the result of addition for 1, 2 is 12

In [ ]:

def add_numbers(a,b):
  return a+b

a=eval(input("enter first number: "))
b=eval(input("enter second number: "))

addition_value = add_numbers(a,b)
print(f"the result of addition for {a}, {b} is {addition_value}")

enter first number: 2.3
enter second number: 3.5
the result of addition for 2.3, 3.5 is 5.8

In [ ]:
# working with strings

message = "hello, world"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[7:12]

print('original message: ', message)
print('the length is : ', length)

print('the uppercase  message: ', uppercase)
print('the lowercase  message: ', lowercase)
print('part of the message is: ', substring)

original message:  hello, world
the length is :  12
the uppercase  message:  HELLO, WORLD
the lowercase  message:  hello, world
part of the message is:  world

In [ ]:
#basic input example

last=input("enter the last name: ")
first=input("enter the first namee: ")

print(f"{last}, {first}")

enter the last name: ram
enter the first namee: nick
ram, nick

In [ ]:
#numeric input example

age = int(input("enter your age: "))
print("you will be" , age+1, " years old")

enter your age: 3
you will be 4  years old

In [ ]:
#calculations with input

num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))

sum_result = num1 + num2
print("sum:", sum_result)

Enter a number: 2.3
Enter another number: 23.3
sum: 25.6

In [ ]:
city = input("enter your city:")
country = input("enter your country:")
location = city + ", " + country

print(f"you are in {location}")

enter your city:new haven
enter your country:ct'
you are in new haven, ct'

In [ ]:
#multiple inputs

name,age = input("enter your name and age separated by a space: ").split()
print(f"my name is {name} and i am {age} years old")

enter your name and age separated by a space: nick 3
my name is nick and i am 3 years old